<!-- portfolio section -->
<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <strong>04</strong>
          <h1 class="heading bold">OUR PORTFOLIO</h1>
          <hr>
        </div>
        <!-- ISO section -->
        <div class="iso-section">
          <ul class="filter-wrapper clearfix">
            <li><a href="#" (click)="search('all')" class="selected opc-main-bg">All</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('science')" >Science</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('education')" >Education</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('people')" >People</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('feelings')" >Feelings</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('computer')" >Computer</a></li>
            <li><a href="#" class="opc-main-bg" (click)="search('buildings')" >Buildings</a></li>
          </ul>
          <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
            <div class="iso-box-wrapper col4-iso-box">

              <div *ngFor="let photo of photos" class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6" >
                <a href="{{photo.largeImageURL}}" data-lightbox-gallery="portfolio-gallery">
                  <img src="{{photo.largeImageURL}}" alt="portfolio img">
                </a>
                <hr>
                <div>
                  <tr>
                    <th>
                      <h6><img src="assets/images/tags.png"></h6>
                    </th>
                    <th>
                      <h6>&nbsp;&nbsp;{{photo.tags}}</h6>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <h6><img src="assets/images/views.png">&nbsp;&nbsp;</h6>
                    </th>
                    <th>
                      <h6>&nbsp;&nbsp;{{photo.views}}</h6>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <h6 ><img src="assets/images/like.png">&nbsp;&nbsp;</h6>
                    </th>
                    <th>
                      <h6>&nbsp;&nbsp;{{photo.likes}}</h6>
                    </th>
                  </tr>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
